<p *ngIf="userInfo">
  Welcome {{userInfo.userName}}!
</p>
<p class="bg-danger" *ngIf="errorMessage">
  {{errorMessage}}
</p>
<p class="bg-success" *ngIf="successMessage">
  {{successMessage}}
</p>
<button class="btn btn-primary" *ngIf="!loggedIn" (click)="authenticate()">Login</button>
<ul class="nav nav-tabs">
    <li role="presentation" [ngClass]="{'active' : view=='settings'}"><a (click)="view='settings'">Settings</a></li>
    <li role="presentation" [ngClass]="{'active' : view=='reporting'}"><a (click)="view='reporting'">Reporting</a></li>
  </ul>

<app-settings *ngIf="view=='settings'"></app-settings>
<app-reporting *ngIf="view=='reporting'"></app-reporting>