<h3>
  Settings
</h3>
<div class="container">
  <div class="row">
    <div class="form-group">
      <label for="sel1">Help Desk Channel:</label>
      <select class="form-control">
        <option *ngFor="let channel of channels" [value]="channel">{{channel}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <h4>Team Members</h4>
    <table class="table table-hover">
      <thead>
        <th>Name</th><th>E-Mail</th><th>Active</th>
      </thead>
      <tr *ngFor="let teamMember of teamMembers">
        <td>{{teamMember.givenName}} {{teamMember.surname}}</td>
        <td>{{teamMember.upn}}</td>
        <td>
          <label class="switch">
            <input type="checkbox" [checked]="teamMember.active" (change)="teamMember.active = !teamMember.active">
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
    </table>
  </div>
</div>
